[report]
omit =
    temperature/board_pico.py
    temperature/board_tk.py
    temperature/main.py
    temperature/main_tk.py
    temperature/print_rom.py
    temperature/screen_tft.py
    temperature/screen_tk.py
    temperature/st7735.py
