<head>
    <title>Temperature Sensor Dashboard</title>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        /*body, div, .list-group-item {*/
        /*    background-color: #3a3a3a;*/
        /*}*/
        /*h2, p, .list-group-item {*/
        /*    color: #FFFFFF*/
        /*}*/
        /*td, th {*/
        /*    color: #FFFFFF*/
        /*}*/
    </style>
</head>
