<script src='https://cdn.plot.ly/plotly-3.3.0.min.js'></script>

<!--Make sure to set page_locations before including this, using either site.data.config.locations, or a manual array-->

{% assign sensor_ids_with_data = site.posts | map: "sensor_id" | uniq %}
{% assign page_active_sensors = "" | split: '/' %}
{% for s in site.data.config.sensors %}
  {% assign sensor = s[1] %}
  {% if page_locations contains sensor.sensor_location %}
    {% assign page_active_sensors = page_active_sensors | push: sensor %}
  {% endif %}
{% endfor %}

<nav class="navbar navbar-light bg-light px-3" style="font-size: 1.5rem;">
  <ul class="navbar-nav flex-row me-auto">
    <li class="nav-item px-3">
      <a class="nav-link active" href="{{ '/' | relative_url }}">All Locations</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link active" href="{{ 'emerald' | relative_url }}">Emerald</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link active" href="{{ 'pantry' | relative_url }}">Pantry</a>
    </li>
  </ul>
  <ul class="navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link active" href="https://github.com/okielife/TempSensors">GitHub</a>
    </li>
  </ul>
</nav>

<header class="container py-4 mb-4">
  <div class="row">
    <div class="col-12">
      <h1 class="display-5 fw-bold text-center">Temperature Sensor Dashboard</h1>
    </div>
  </div>
</header>

{% assign page_active_sensors = page_active_sensors | sort: "sensor_location" %}
{% for sensor in page_active_sensors %}
  {% assign full_sensor_history = site.posts | where: "sensor_id", sensor.hex | slice: 0, 100 | reverse %}

  {% assign recent_sensor_posts = site.posts | where: "sensor_id", sensor.hex | slice: 0, 5 %}
  {% assign caution_temp = sensor.maximum_temp | plus: 2 %}

  <div class="container-fluid">
    <div class="row g-3">
      <div class="col-12">
        <div class="card h-100 card border-1 border-secondary shadow-sm">
          <h2 class="card-header d-flex justify-content-center align-items-center">{{ sensor.nice_name }}</h2>
          <div class="card-body">
            <div class="row g-3 align-items-stretch">
              <div class="col-12 col-md-6 col-lg-4 d-flex">
                <div class="w-100">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered" style="font-size: 1.5rem;">
                      <thead>
                        <tr>
                          <th colspan=2 style="text-align: center;">Latest Temperature Readings</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for post in recent_sensor_posts %}
                          {% assign temp_fahrenheit = post.temperature | round: 1 %}
                          <tr style="text-align: center">
                            <td>
                              <span class="ts-timestamp" data-ts="{{ post.measurement_time }}"></span>
                            </td>
                            {% if post.temperature <= sensor.maximum_temp %}
                              <td class="temperature" style="background-color:#78c1a3">{{ temp_fahrenheit }} &degF</td>
                            {% elsif post.temperature < caution_temp %}
                              <td style="background-color:#ffdbc2">{{ temp_fahrenheit }} &degF</td>
                            {% else %}
                              <td style="background-color:#f38989">{{ temp_fahrenheit }} &degF</td>
                            {% endif %}
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-8 d-flex">
                {% assign temp_list = "" %}
                {% assign time_list = "" %}
                {% for post in full_sensor_history %}
                  {% assign temp_fahrenheit = post.temperature | round: 4 %}
                  {% assign temp_list = temp_list | append: temp_fahrenheit | append: "," %}
                  {% assign parts = post.measurement_time | split: "-" %}
                  {% assign nice_time_stamp = '"' | append: parts[0] | append: "-" | append: parts[1] | append: "-" | append: parts[2] | append: " " | append: parts[3] | append: ":" | append: parts[4] | append: ":" | append: parts[5] | append: '"' %}
                  {% assign time_list = time_list | append: nice_time_stamp | append: "," %}
                {% endfor %}
                <div id="plot {{ sensor.hex }}" class="w-100 flex-fill" style="width:100%;height:100%;min-height:300px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <script>
    Plotly.newPlot(
      'plot {{ sensor.hex }}',
      [ // data
        {
            x: [{{ time_list }}].map(ts => new Date(ts)),
            y: [{{ temp_list }}],
            mode: 'lines+markers',
            type: 'scatter',
            line: {color: 'rgb(50, 50, 50)', width: 3},
            name: "Sensed Temperature"
        }
      ],
      { // layout
        font: {
          family: 'Ubuntu, sans-serif',
          size: 18, // Sets the default font size for all text
          color: '#000000'
        },
        margin: { l: 50, r: 10, t: 0, b: 50 },
        yaxis: {title: {text: 'Temperature \u00B0F'}},
        shapes: [
          {
            type: 'line',
            xref: 'paper',
            x0: 0,
            y0: 32.0,
            x1: 1,
            y1: 32.0,
            line:{color: 'rgb(0, 0, 150)', width: 3, dash: 'dot'},
            name: "Freezing Line",
          },
          {
            type: 'line',
            xref: 'paper',
            x0: 0,
            y0: {{ sensor.maximum_temp }},
            x1: 1,
            y1: {{ sensor.maximum_temp }},
            line:{color: 'rgb(150, 0, 0)', width: 3, dash: 'dot'},
            name: "Sensor Max Temp",
          }
        ]
      },
      { // config
        staticPlot: window.matchMedia("(max-width: 1500px)").matches,
        displayModeBar: !window.matchMedia("(max-width: 1500px)").matches,
        scrollZoom: !window.matchMedia("(max-width: 1500px)").matches,
        responsive: true
      }
    );
  </script>
{% endfor %}

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".ts-timestamp").forEach(el => {
      const p = el.dataset.ts.split("-");
      const d = new Date(Date.UTC(p[0], p[1] - 1, p[2], p[3], p[4], p[5]));
      el.textContent = d.toLocaleDateString() + "  " + d.toLocaleTimeString();
    });
  })
</script>