<!--Make sure to set page_locations before including this, using either site.data.config.locations, or a manual array-->

<!--TODO: Add coloring to the table based on max_temp-->

{% assign sensor_ids = "" | split: '/' %}
{% for page in site.posts %}
{% assign full_path_parts = page.path | split:'/' %}
{% assign this_sensor_id = full_path_parts[1] | strip %}
{% assign sensor_ids = sensor_ids | push: this_sensor_id %}
{% endfor %}
{% assign sensor_ids = sensor_ids | uniq %}

{% assign page_active_sensors = "" | split: '/' %}
{% for page_location in page_locations %}
  {% assign active_sensors_at_location = site.data.config.sensors | where_exp:"s","s.sensor_location == page_location" %}
  {% for active_sensor_at_location in active_sensors_at_location %}
    {% assign page_active_sensors = page_active_sensors | push: active_sensor_at_location %}
  {% endfor %}
{% endfor %}

{% for sensor in page_active_sensors %}
{% assign reading_count = 0 %}
<h2>{{ sensor.sensor_location }} : {{sensor.id }}</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Measurement Time (Central Time - No Daylight Savings Adjustment)</th>
        <th>Temperature</th>
    </tr>
    </thead>
    <tbody>
    {% for post in site.posts %}
    {% if post.sensor_id != sensor.id %}
      {% continue %}
    {% endif %}
    {% assign reading_count = reading_count | plus: 1 %}
    {% assign caution_temp = post.temperature | plus: 2 %}
    {% if reading_count <= 5 %}
      <tr>
        <td>{{ post.measurement_time }}</td>
        {% if post.temperature <= sensor.maximum_temp %}
        <td style="background-color:#78c1a3">{{ post.temperature }}</td>
        {% elsif post.temperature < caution_temp %}
        <td style="background-color:#ffdbc2">{{ post.temperature }}</td>
        {% else %}
        <td style="background-color:#f38989">{{ post.temperature }}</td>
        {% endif %}
      </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endfor %}