<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">Temperature Sensor Pages</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ '/' | relative_url }}">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ 'emerald' | relative_url }}">Emerald</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ 'pantry' | relative_url }}">Pantry</a>
      </li>
    </ul>
</nav>