name: Check All Temperatures

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  check_temperatures:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: gh-pages
      - name: Check Temperatures
        run: python scripts/check_all_temperatures.py
