name: Unit Tests for Sensor Code

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: pip install -r requirements.txt

#      - name: Setup upterm session
#        uses: owenthereal/action-upterm@v1

      - name: Run tests
        run: python3 -m unittest discover -s temperature/tests
